:root {
  /* Palette colours */
  --metblue: #3d5a80;
  --palecer: #98c1d9;
  --lightcy: #e0fbfc;
  --burntsie: #ee6c4d;
  --gunmetal: #293241;
  /* Palette colours end */
  /* Other colours */
  --black: #171321;
  --white: #f7f8fa;
  /* Other colours end */
  --font-size: 1.3rem;
  --mono: "Roboto mono", monospace;
  --sans: Roboto, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sans);
  background-color: var(--gunmetal);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--burntsie);
}

/* a:hover {
  color: var(--palecer);
  text-decoration: none;
} */

/* Backgrounds */

.section-burn {
  background-color: var(--burntsie);
}

.section-dbl {
  background-color: var(--metblue);
}

.gradient {
  background: linear-gradient(90deg, rgba(238,108,77,1) 0%, rgba(152,193,217,1) 100%);
  height: 3px;
}

/* Intro styles */

#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
#intro p {
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--mono);
}

#intro .name {
  font-family: var(--mono);
}
#intro span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--lightcy);
  display: block;
}

#intro h2 {
  font-size: 4rem;
}

#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

#contact p {
  font-family: var(--mono);
}


#contact p:last-child {
  margin-top: 3rem;
}

#contact .button {
  background-color: var(--lightcy);
  color: var(--burntsie);
}
#contact .button:hover {
  background-color: var(--gunmetal);
  color: var(--white);
}

/* Navigation */
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--palecer);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--palecer);
}

nav [class*="fa-"]:hover {
  color: var(--burntsie);
}

nav h1 [class*="fa-"]:hover {
  color: var(--burntsie);
}
nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: var(--burntsie);
}

.button {
  background-color: var(--burntsie);
  padding: 0.5rem;
  border-radius: 6px;
  color: var(--white);
  text-decoration: none;
}

.button:hover {
  color: var(--white);
  background-color: var(--palecer);
}

footer {
    text-align: center;
    padding: 4rem 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem; 
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
}

/* Projects */

#projects {
  padding: 4rem 1rem;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);

}

#projects h3 {
  color: var(--palecer);
}

/* Media queries */

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }

    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}
